.mat-checkbox {
  padding: 18px;
  color: rgb(89, 230, 255);
  float: none;
}

.alert-item {
  padding: 10px;
}

.last {
  height: 300px;
}

label {
  color: rgb(89, 230, 255);
}

.ng-select.custom 
.ng-select-container {
  height: 30px;
  background-color: gray; 
}

.ng-select.custom 
.ng-select-container
.ng-value-container
.ng-value {
  color: black;
  background-color: rgb(89, 230, 255);
}

.ng-select.custom 
.ng-select-container
.ng-value-container
.ng-value
.ng-value-icon {
  color: black;
}

.ng-select.custom 
.ng-select-container
.ng-value-container
.ng-placeholder {
  color:  rgb(89, 230, 255);
}

.mat-checkbox-checked
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background {
  background-color: greenyellow;
  }

  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background {
    background-color: gray
  }
  