<mat-checkbox (change)="updateAnimateSetting()" [(ngModel)]="animateBg">Animate Background</mat-checkbox>

<mat-checkbox (change)="updateOnlineSetting()" [(ngModel)]="online">Online (Offline uses test data)</mat-checkbox>

<div class="alert-item">
    <label>Items that will trigger an alert when purchased by an enemy:</label>
    <ng-select class="custom" [items]="itemList" bindLabel="name" placeholder="Select Items" multiple="true"
        [(ngModel)]="alertItems" (change)="updateAlertItems()"></ng-select>
</div>

<div class="alert-item last">
    <label>Champions that will trigger an alert when reaching level 6:</label>
    <ng-select class="custom" [items]="champList" bindLabel="name" placeholder="Select Champions" multiple="true"
        [(ngModel)]="alertChamps" (change)="updateLv6ChampAlerts()"></ng-select>
</div>