.champ-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
}

.item-img {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.coin-icon {
    position: relative;
    content: url("../../assets/coins.png");
    height: 20px;
    width: 20px;
    top: 3px;
}

.coin-val {
    color: yellow;
}

.champ-card {
    background-color: #474747;
    border: 2px solid white;
    border-radius: 10px;
    min-width: 600px;
    max-width: 600px;
  }

  .red{
    background-color: #474747;
    border: 2px solid rgb(255, 0, 0);
    min-width: 600px;
    max-width: 600px;
  }

  .blue{
    background-color: #474747;
    border: 2px solid rgb(25, 0, 255);
    min-width: 600px;
    max-width: 600px;
  }

  .active-player {
    border: 5px solid rgb(255, 115, 0);
  }