<h1>
    <div>League Version {{currentLeagueVersion}}</div>
    <div>Gold Testing Val {{currentGold}}</div>
</h1>


<h2>
    <div>
        <form>
            <label for="searchItem">Search Item: </label>
            <input id="searchItem" [formControl]="searchItem">
            &nbsp;
            <button class="button button2" (click)="search()">Search</button>
        </form>
    </div>
    ----------------------------------------------------------
    <div>{{searchItemName}}
        <img src="{{searchItemImage}}">
    </div>


    <div>Item Cost: {{searchItemCost}}</div>

    <div>Item Description: {{searchItemDescription}}</div>

</h2>


<div>
    <form>
        <label for="searchChamp">Search Champions Current Total Gold (Test data has Vayne, Nasus, Karthus): </label>
        <input id="searchChamp" [formControl]="searchChamp">
        <button (click)="setChampGoldVal()">Search</button>
    </form>
</div>

<div>Item Cost: {{champTotalGold}}</div>
<img src="{{champImageUrl}}">
<div>Items: </div>

<img *ngFor="let image of itemImageArr" src="{{image}}">

<app-champion-card></app-champion-card>