<video #videoPlayer id="vid" src="http://screensavers.riotgames.com/v2/latest/content/original/AnimatedArt/{{backgroundVid}}.webm" autoplay loop playsinline muted></video>

<h1 class="viewport-header">
    <div>League Version {{currentLeagueVersion}}</div>
</h1>

<mat-tab-group>
    <mat-tab label="In Game Info">
        <div class="champ-container">
            <!-- Blue team list -->
            <div cdkDropList class="champ-list" *ngIf="apiWorking" (cdkDropListDropped)="drop($event, blueTeamChamps)">
                <div cdkDrag *ngFor="let champion of blueTeamChamps; index as i;">
                    <app-champion-card [champion]="champion" [goldDiff]="goldDiffArr[i]"
                        [isActivePlayerTeam]="champion.team == activePlayer.team"></app-champion-card>
                </div>
            </div>

            <!-- Red team list -->
            <div cdkDropList class="champ-list" [hidden]="!apiWorking"
                (cdkDropListDropped)="drop($event, redTeamChamps)">
                <div cdkDrag *ngFor="let champion of redTeamChamps; index as i;">
                    <app-champion-card [champion]="champion" [goldDiff]="goldDiffArr[i]"
                        [isActivePlayerTeam]="champion.team == activePlayer.team"></app-champion-card>
                </div>
            </div>
            <h2 class="warn" [hidden]="apiWorking"> Waiting on connection to League Client...</h2>
        </div>
        <div [ngClass]="{'gold-diff-text': true, 'losing': goldDiffArr[5] < 0}" *ngIf="apiWorking">
            <span class="bottom" *ngIf="goldDiffArr[5] < 0">Your team is down <span>{{goldDiffArr[6]}}</span>
                gold.</span>
            <span class="bottom" *ngIf="goldDiffArr[5] > 0">Your team is up <span>{{goldDiffArr[6]}}</span> gold.</span>
        </div>
    </mat-tab>
    <mat-tab label="Item Search">
        <div class="on-bg">
            <app-item-search id="app-item-search" [allItems]="allItems" [currentLeagueVersion]="currentLeagueVersion"></app-item-search>
        </div>
    </mat-tab>
    <mat-tab label="Settings">
        <div class="on-bg">
            <app-settings id="app-settings" 
            [(animateBg)]="animateBg"
            [(online)]="online"
            (onlineChange)="reset()"></app-settings>
        </div>
    </mat-tab>
</mat-tab-group>