<h1>
    <div>League Version {{currentLeagueVersion}}</div>
</h1>

<h2>
    <div>
        <form>
            <label for="searchItem">Search Item: </label>
            <input id="searchItem" [formControl]="searchItem">
            &nbsp;
            <button class="button button2" (click)="search()">Search</button>
        </form>
    </div>
    ----------------------------------------------------------
    <div>{{searchItemName}}
        <img src="{{searchItemImage}}">
    </div>


    <div>Item Cost: {{searchItemCost}}</div>

    <div>Item Description: {{searchItemDescription}}</div>

</h2>

<h1>
    <div>Champions List</div>
</h1>
<app-champion-card *ngFor="let champion of allChampions" [champion]="champion"></app-champion-card>